<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDatabase" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IDatabase" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://169.254.61.71:17777//Database" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IDatabase" contract="Database.IDatabase"
                name="BasicHttpBinding_IDatabase" />
            <endpoint address="net.tcp://169.254.61.71:18888/Database" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IDatabase" contract="Database.IDatabase"
                name="NetTcpBinding_IDatabase">
                <identity>
                    <userPrincipalName value="ASUS\Ilya" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>